* {
    font-family: Arial, sans-serif;
}

body{
    background: linear-gradient(to right,  #d93ac9, #d057ff);
    box-sizing: border-box;
}


.container {
    position:relative;
    max-width: 450px;
    width:150%;
    border-radius: 8px;
    padding: 25px;
    margin: 50px auto 10px;
    border: 1px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 100px;
   
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    background: white;
    margin-top: -15px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent ;
    padding: 10px;
}

.r{
    padding: 15px 15px;
    border: none;
    outline: none;
    background: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    
}
ul{
  position: relative;
  left: 20%;
}
li{
  list-style-type: none;
  display: block;
  margin: 5px;
  padding: 0 5px 0 5px;
}
.txt{
  font-size: 25px;
  width: 35%;
  display: inline-block;
  font-family: 'Vast Shadow', serif;
  color: white;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  padding:0 10px 0 10px ;
  text-align: center;
  margin-left: 2px;
  overflow:scroll;
}
.editButton,.deleteButton{
  margin-left: 5px;
  position: relative;
  top: -14px;
  border-radius: 10px;
  color: blue;
  padding: 8px 20px;
  
}

@media(max-width:768px){
    .container {
        max-width: 280px;
        width:90%;
        padding: 15px;
        margin: 50px auto 10px;
        text-align: center;
    }

    .input-field {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid black;
        background: white;
        margin-top: -18px;
    }

    .txt{
        font-size: 20px;
        width: 45%;
        display: inline-block;
        font-family: 'Vast Shadow', serif;
        color: white;
        height: 30px;
        border: 1px solid black;
        border-radius: 5px;
        padding:0 10px 0 10px ;
        text-align: center;
        margin-left: -95px;
        overflow: scroll;
      }

      .editButton,.deleteButton{
        margin-left: 10px;
        position: relative;
        top: -15px;
        border-radius: 10px;
        color: blue;
        padding: 5px 15px;
      } 
}
